<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <title>Guestbook</title>
  <body>
    <div id="container">
      <div class="header">
        <div id="nav-list">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li class="btn btn-primary">Guestbook</li>
          </ul>
        </div>
        <h1>Guestbook</h1>
        <hr>
      </div>
      <div id="greetings">
      {% for greeting in greetings %}
        {% if greeting.author %}
          <b>{{ greeting.author }}</b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      {% endfor %}
      </div>
      {% if greetings.count() > 0 %}
        <hr>
        <h4 id="count">{{ greetings.count(10) }} <!-- Max num of posts is 10, so limit count to 10 -->
        {% if greetings.count() == 1 %}
          message</h4>
        {% else %}
          messages</h4>
        {% endif %}
      {% else %}
        There are no messages.
        <hr>
      {% endif %}
      <div class="form">
        <form action="/sign" method="post" onsubmit="return confirm('Are you sure you want to post your message?')">
          <div><input class="form-control" id="username" name="author" placeholder="Your name (optional)" rows="1"></input>
          <div><textarea class="form-control" id="focusedInput" name="content" rows="4" placeholder="Message"></textarea></div>
          <div><button class="btn btn-primary" id='btn-submit' type="submit" value="Sign Guestbook">Submit</button></div>
        </form>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
{% endautoescape %}
